name: Kubernetes Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  kube-linter:
    name: KubeLinter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run KubeLinter
        uses: stackrox/kube-linter-action@v1
        with:
          directory: k8s/apps/
          config: .kube-linter.yml
